# Python bytecode files
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
tm_venv/

# Django SQLite database
db.sqlite3
*.sqlite3

# Environment variables
.env

# IDE configuration
.vscode/
.idea/

# Media files
media/
