<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створити новий пароль</title>
    <link rel="stylesheet" href="{% static 'auth_user/css/password_reset.css' %}">
    <link rel="icon" href="{% static 'tasks/img/logo_ico.ico' %}" type="image/x-icon">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h2>Встановіть новий пароль</h2>
            <label for="new_password">Новий пароль:</label>
            <input type="password" id="new_password1" name="new_password1" required>
        </div>
        <div class="form-group">
            <label for="new_password">Підтвердьте новий пароль:</label>
            <input type="password" id="new_password2" name="new_password2" required>
        </div>
        <button type="submit">Встановити новий пароль</button>
    </form>
</body>
</html>