<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скидання пароля</title>
    <link rel="stylesheet" href="{% static 'auth_user/css/password_reset.css' %}">
    <link rel="icon" href="{% static 'tasks/img/logo_ico.ico' %}" type="image/x-icon">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h2>Відновлення пароля</h2>
            <p>Будь ласка, введіть вашу електронну пошту, і ми надішлемо вам інструкції для скидання пароля.</p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Відправити інструкції</button>
    </form>
</body>
</html>