<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перевірте вашу пошту</title>
    <link rel="stylesheet" href="{% static 'auth_user/css/password_reset.css' %}">
    <link rel="icon" href="{% static 'tasks/img/logo_ico.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="form-group">
        <h2>Перевірте вашу електронну пошту</h2>
        <p>Ми надіслали вам інструкції на електронну пошту для скидання пароля.</p>
    </div>
</body>
</html>