<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скидання пароля завершено</title>
    <link rel="stylesheet" href="{% static 'auth_user/css/password_reset.css' %}">
    <link rel="icon" href="{% static 'tasks/img/logo_ico.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="form-container">
        <h2 class="form-title">Пароль успішно змінено!</h2>
        <p>Ваш пароль був успішно змінений. Тепер ви можете увійти в систему, використовуючи новий пароль.</p>
        <p>    
            <a href="{% url 'auth_user:login' %}" class="btn-submit">Перейти до входу</a>
        </p>
    </div>
</body>
</html>