{% extends "base.html" %}
{% load static %} 
{% block title %}<title>{{ page_title }}</title>{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'profile_user/css/change_done_pass.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
    <div class="success-message">
        <h2>Пароль успішно змінено!</h2>
        <p>Ваш пароль було успішно оновлено. Ви можете повернутися на головну сторінку.</p>
    </div>
    <div class="form-action">
        <a href="{% url 'home' %}" class="btn-back-to-home">Повернутися на головну</a>
    </div>
</div>
{% endblock %}