{% extends "base.html" %}
{% block title %}<title>{{ page_title }}</title>{% endblock %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'profile_user/css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="profile-container">
    <form method="POST" class="profile-form">
        {% csrf_token %}
        <h2 class="profile-title">Ваш профіль</h2>
        <div class="date-row">
            <h2>Ім'я користувача:</h2>
            <h3>{{ user.username }}</h3>
        </div> 
        <div class="date-row">
            <h2>Електронна пошта:</h2>
            <h3>{{ user.email }}</h3>
        </div>
        <div class="date-row">
            <h2>Дата реєстрації:</h2>
            <h3>{{ user.date_joined|date:"d.m.Y" }}</h3>
        </div>
        <div class="button-row">
            <a href="{% url 'edit_password' %}" class="btn-password">Змінити пароль</a>
            <a href="{% url 'edit_profile' %}" class="btn-edit">Редагувати профіль</a>
        </div>
    </form>
</div>
{% endblock %}